In [3]:
print("hello world")
print(3*5)

hello world
15

In [4]:
print(1/2)
print(10%3)
print(13.0//2.5) #floor division
print(5.5 ** 2.2) #exponential
print(round(7.5))

0.5
1
5.0
42.540042248725975
8

### Formatting

In [5]:
print(5.5 * 2.2)
print(format(5.5 * 2.2, '.2f'))

12.100000000000001
12.10

### Data Types

In [6]:
print(type(10.))
print(int(10.))
b = -10
c = 2.7
print(b+c)
print(type(b), type(c))
print(type(b+c))

<class 'float'>
10
-7.3
<class 'int'> <class 'float'>
<class 'float'>

### Address
Same value variables share the same address

In [7]:
x = y = 1
z = 2
print(id(x))
print(id(y))
print(id(z))

2615315360048
2615315360048
2615315360080

### Swap Values

In [8]:
x = 1
y = 7
x,y = y,x
print(x, y)

7 1

In [9]:
print(ord('A'))
a = 'oleh '
print(a*2 + 'Malaysia ' + a)

65
oleh oleh Malaysia oleh

In [10]:
h = 'hello'
print(h[-4])
print(h[:-3])
print(h[-3:])

e
he
llo

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          str      oleh
b          int      -10
c          float    2.7
h          str      hello
x          int      7
y          int      1
z          int      2

### Strings

In [21]:
data_name = "Nur Izzah Mardhiah binti Rashidi"
print(len(data_name))
print(data_name.find('Izzah'))
print(data_name.find('Hannah'))
print(data_name.index('Izzah'))
# print(data_name.index('Hannah'))
"test".find("est")

32
4
-1
4

1

In [18]:
data_vs_info = "You can have data without information, but you cannot have information without data. \
~ Daniel Keys Moran,  science fiction writer."
print(data_vs_info[:data_vs_info.index('.')])

You can have data without information, but you cannot have information without data

In [22]:
s = 'abcdefghijklMnoPqrstuvwxxxxyz'

print(min(s)) #smallest item of s
print(max(s)) #largest item of s
print(s.count('x')) #total number of occurrences of x in s
print()

M
z
4

In [23]:
s1 = '    abcdefghijklMnoPqrstuvw xxxxyz   '
print(s1.lower())
print(s1.upper()) #returns the lowercase or uppercase version of the string
print(s1.strip()) #returns a string with whitespace removed from the start and end

print()
print(s.isalpha())  #returns “True” if all characters in the string are alphabets
print(s.isdigit())  #returns “True” if all characters in the string are digit
print(s.isspace())  #returns “True” if all characters in the string are whitespace characters

    abcdefghijklmnopqrstuvw xxxxyz
    ABCDEFGHIJKLMNOPQRSTUVW XXXXYZ
abcdefghijklMnoPqrstuvw xxxxyz

True
False
False

In [24]:
s2 = 'Python is an interesting language!'
print()
print(s2.startswith('Python'))  #tests if the string starts with the given other string (case sensitive!)
print(s2.endswith('an'))  #tests if the string ends with the given other string
print()
print(s2.replace('Python', 'Java')) #returns a string where all occurrences of 'old' have been replaced by 'new'
print(s2.split('an')) #returns a list of substrings separated by the given delimiter

True
False

Java is an interesting language!
['Python is ', ' interesting l', 'guage!']

In [25]:
s3 = '1234'
s4 = 'abc'
print(s3.join(s4)) #opposite of split(), joins the elements in the given list together using the string as the delimiter
print(s3 + s4)

a1234b1234c
1234abc

In [27]:
# % operator
print("We were going nearly %.1f km/hr. But there were %d %s going faster!"%(130.2, 3, "cars"))
# format method
"We were going nearly {} km/hr. But there were {} {} going faster!".format(130.2, 3, "cars")

We were going nearly 130.2 km/hr. But there were 3 cars going faster!

'We were going nearly 130.2 km/hr. But there were 3 cars going faster!'

In [40]:
# Define a procedure that finds the index of the second instance of a string in a larger string.
def find_second(findin, whattofind):
   
    first_index = findin.find(whattofind)
    second_index = findin.find(whattofind, first_index+1)
    third_index = findin.find(whattofind, second_index+1)
    
    return second_index

In [41]:
find_second('dance, dance, dance everyday', 'dance')

7

In [44]:
s = 'my string'
s.find('my')
s.index('str')
'my' in s

True

In [45]:
sequence = [1,2, None,4,None,5]
total = 0

for value in sequence:
    if value is None:
        continue    #skipping the remainder of the block
    total += value

total

12

In [46]:
seq = [1,2,0,4,6,5,2,1]
total_until_5 = 0

for value in seq:
    if value == 5:
        break    #exit the loop
    total_until_5 += value

total_until_5

13